body {
    background: #d2d5c1;
    background-image: url("welcome_vines.png");
    background-size: cover;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.login input[type="text"], .login input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #d2d5c1;
    padding: 8px 10px;
    width: 220px;
    outline: none;
    color: #d2d5c1;
    border-radius: 5px;
    transition: 0.25px;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
    width: 240px;
    border-color: #6c755b;
}

.login input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #6c755b;
    padding: 5px 10px;
    outline: none;
    color: #d2d5c1;
    border-radius: 5px;
    transition: 0.25px;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #6c755b;
}

.image_sign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}


.sign {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
} 


.login {
    position: absolute;
    width: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome {
    font-size: 35px;
    color: #d2d5c1;
}
