
body {
    /*
    background-image: url("main_room.jpg");
    background-size: cover;
    height: 100%; */
    background-color: rgb(41, 29, 54);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.image_room {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.btn {
    cursor: pointer;
    border: 0.5px solid; /*change to none*/
    background-color: transparent;
    outline: none;
    background-repeat: no-repeat;
    overflow: hidden;
}

.todo {
    height: 200px;
    width: 200px;
    top: 44%;
    left: 14%;
    position: absolute;
    border-radius: 40px;
}

.chat {
    height: 100px;
    width: 100px;
    top: 51%;
    right: 31%;
    position: absolute;
    border-radius: 40px;
}